//spacing-unit
$spacing-unit: 10px;

//Font-family
$font-family: "Dosis", sans-serif;

//Font-size
$font-size-large: 30px;
$font-size-regular2: 20px;
$font-size-regular: 18px;
$font-size-small: 14px;


//Font colors
$font-color-light:rgb(83, 83, 83);
$font-color-dark:rgb(0, 0, 0);